* {
    font-family: 'Alata', sans-serif;
}

body {
    display: flex;
    flex: 1;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
}
.navbar-brand{
    font-size: 2rem;
    font-family: serif;
    color: #ffffff;
  }
  .navbar-brand:hover{
    color: #F38BA0;
  }
  .nav-link{
    font-family: Montserrat;
    color:#f5f5f5;
  }
  .nav-link:hover{
    color: #F38BA0;
  }
  .navbar-toggler-icon{
  
    background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    opacity:0.7;
  }
  
  .custom-toggler,.navbar-toggler {
      border-color: #FFE194;
  }
  .nav-link,.nav-item,.navbar{
    text-decoration: none;
    list-style: none;
    z-index: 999;
  }

.title {
    text-align: center;
    font-size: 5em;
    margin-top: 1.5em;
    color: rgb(0, 0, 0);
}

.piano {
    text-align: center;
    margin-top: 1em;
    display: flex;
}

.tecla {
    border: 1px solid black;
    box-sizing: border-box;
}

.preta {
    width: 2em;
    height: 9em;
    background-color: black;
    margin: 0 -1em 0 -1em;
    z-index: 2;
}

.branca {
    cursor: default;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 4em;
    height: 16em;
    background-color: white;
}

.branca-active, .branca:active {
    background-color: #c2c0c0;
}

.preta-active, .preta:active {
    background-color: #3d3d3d;
}

.botoes {
    margin-top: 2em;
}

.botao{
    width: 10em;
    height: 3em;
    border-radius: 8px;
    border-color: rgb(252, 252, 255);
    outline: none;
    background-color: #ebcb47;
    margin-bottom: 30vh;
    font-size: .9em;
}
.botao_stop{
    width: 5em;
    height: 3em;
    border-radius: 8px;
    color: #ffffff;
    border-color: rgb(247, 247, 255);
    outline: none;
    background-color: #0c30fa;
    margin-bottom: 30vh;
    font-size: .9em;
}

.rodape {
    font-size: 1em;
    align-self: center;
    background-color: wheat;
    padding: 1em;
}

.proibido-selecionar {
    background-color: #F38BA0;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#container {
    display: flex;
    justify-content: space-between;
}